a:hover{
    color: #b08c4a;
}
.c-brown{
    color: #b08c4a;
}
.c-white{
    color: white;
}
.c-pink{
    color: #ff4683;
}
.c-999{
    color: #999;
}
.pointer{
    cursor: pointer;
}
dd{
    color: #a6a6a6;
}
dd:hover{
    color: #b08c4a;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
/*头部*/
header{
    min-width: 1210px;
    height: 40px;
    line-height: 40px;
    color: #666;
    font-size: 14px;
    background-color: #f2f2f2;
}
.header-page, .search-page, .row-nav, .home-nav, .robot, .common-problem, .contact, .footer-page{
    width: 1210px;
    margin: 0 auto;
}
.header-l-ul>li, .header-r-ul>li{
    display: inline-block;
    line-height: 40px;
}
header a{
    color: #666;
}
.pipe{
    display: inline-block;
    width: 1px;
    height: 15px;
    vertical-align: middle;
    margin-left: -11px;
    border-left: 1px solid #dbdbdb;
}
.header-l-ul{
    float: left;
}
.header-r-ul{
    float: right;
}
.header-l-ul a{
    padding-left: 24px;
}
.header-r-ul a{
    padding-right: 24px;
}
.arrow-down-logo{
    display: inline-block;
    width: 6px;
    height: 1ex;
    background: url(../image/re-arrow-down_f7b3b5b.png?) no-repeat 0/6px 3px;
    transform: rotate(0deg);
    transition: transform .2s;
}
.drop{
    position: absolute;
    z-index: 1;
    margin: -8px 0 0 139px;
    width: 15px;
    height: 15px;
    background-color: #FFF;
    box-shadow: -1px -2px 5px rgba(0,0,0,.06);
    transform: rotate(45deg);
}
.recent-drop{
    margin: -6px 0 0 140px;
}
.app-drop{
    margin: -7px 0 0 36px;
}
.business-drop{
    margin: -7px 0 0 19px;
}
.recent-tip, .app-tip, .business-tip{
    position: absolute;
    z-index: 1;
    margin: 0 0 0 -16px;
    background-color: #fff;
    box-shadow: 0 1px 12px 0 rgba(0,0,0,.15);
    cursor: pointer;
    display: none;
}
.recent-tip{
    width: 300px;
    line-height: 84px;
    margin: 0 0 0 -120px;
    text-align: center;
}
.app-tip{
    width: 142px;
    height: 170px;
    background: #fff url(../image/qr-code-re-text_2b92f31.png) no-repeat 12px 12px/118px 146px;
}
.business-tip li{
    line-height: 38px;
    padding-left: 18px;
    text-align: center;
}
.recent:hover .arrow-down-logo,.app:hover .arrow-down-logo, .business:hover .arrow-down-logo{
    transform: rotate(180deg);
}
.recent:hover .recent-tip,.app:hover .app-tip, .business:hover .business-tip{
    display: block;
}
/*搜索*/
.search-page{
    margin: 21px auto 20px auto;
}
.search-page>div{
    display: inline-block;
}
.nuomi-logo{
    display: inline-block;
    width: 165px;
    height: 57px;
    margin: 0 30px 20px 0;
}
.nuomi-logo img{
    width: 100%;
    vertical-align: middle;
}
.location{
    width: 80px;
    height: 50px;
    margin-right: 75px;
    cursor: pointer;
}
.location:hover .location-dl{
    display: block;
}
.location:hover .search-arrow-down-logo, .location-dl:hover .search-arrow-down-logo{
    transform: rotate(180deg);
}
.position-logo{
    display: inline-block;
    width: 13px;
    height: 2ex;
    margin-right: 4px;
    background: url(../image/re-pos_50b4a85.png) no-repeat 0/13px 15px;
}
.search-arrow-down-logo{
    display: inline-block;
    width: 13px;
    height: 1ex;
    background: url(../image/line-arrow_698e86e.png) no-repeat 0/12px 7px;
    transform: rotate(0deg);
    transition: transform .2s;
}
.location-dl{
    position: absolute;
    z-index: 2;
    margin: 16px 0 0 -97px;
    width: 287px;
    padding: 0 11px 40px;
    background-color: #fff;
    box-shadow: 2px 2px 12px 0 rgba(0,0,0,.15);
    cursor: pointer;
    display: none;
}
.location-dl:hover{
    display: block;
}
.location-dt{
    width: 85%;
    padding: 14px 0 14px 0;
    margin: 0 auto;
    color: #222;
    border-bottom: 1px solid #f4f4f4;
}
.location-dl .dd-box{
    margin: 15px 0 30px 0;
}
.location dd{
    float: left;
    width: 25%;
    line-height: 33px;
    font-size: 14px;
    color: #666;
    text-align: center;
}
.location .more{
    position: absolute;
    width: 31%;
    margin: 163px 0 0 187px;
}
.location dd:hover{
    color: #b08c4a;
}
.search{
    margin-right: 15px;
}
.search-recommend{
    position: absolute;
    margin: 10px 0;
}
.search-recommend li{
    display: inline-block;
}
.search-recommend a{
    font-size: 14px;
    padding-right: 10px;
    color: #999;
}
.search-recommend a:hover{
    color: #b08c4a;
}
.search-input{
    width: 466px;
    height: 40px;
    text-indent: 10px;
    border: 2px solid #BF974D;
    outline: none;
    box-sizing: border-box;
}
.search-btn{
    width: 110px;
    height: 40px;
    margin-left: -6px;
    vertical-align: top;
    color: white;
    font-size: 18px;
    border: none;
    background-image: linear-gradient(-180deg,#d5ac61 0,#bf974d 100%);
}
.search-btn:hover{
    background: #BF974D;
    cursor: pointer;
}
.three-ensure{
    position: relative;
    display: inline-block;
    width: 150px;
    vertical-align: middle;
    background-color: #FFF8EB;
    border: 1px solid #EDE3CE;
    cursor: pointer;
}
.return, .compensate, .overdue{
    display: inline-block;
    margin-right: -4px;
}
.return-icon{
    background: url(../image/tui_93de3ec.png) center no-repeat;
}
.compensate-icon{
    background: url(../image/pei_6ab04b5.png) center no-repeat;
}
.overdue-icon{
    background: url(../image/money_44a4950.png) center no-repeat;
}
.return-icon,.compensate-icon,.overdue-icon{
    width: 50px;
    height: 35px;
    padding-top: 3px;
    background-origin: content-box;
    background-size: 50%;
    box-sizing: border-box;
}
.return-drop{
    margin: -5px 0 0 19px;
}
.compensate-drop{
    margin: -5px 0 0 70px;
}
.overdue-drop{
    margin: -5px 0 0 120px;
}
.return-tip, .compensate-tip, .overdue-tip{
    position: absolute;
    top: 40px; left: -1px;
    width: 152px;
    line-height: 39px;
    font-size: 14px;
    text-align: center;
    background-color: #FFF;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.15);
    display: none;
}
.return:hover .return-tip, .compensate:hover .compensate-tip, .overdue:hover .overdue-tip{
    display: block;
}

/*顶部导航条*/
.row-nav{
    border-bottom: 2px solid #b38b47;
}
.row-nav-l{
    display: inline-block;
    width: 233px;
    line-height: 45px;
    padding-left: 15px;
    font-weight: 500;
    vertical-align: middle;
    background-image: linear-gradient(-180deg,#d6ad62 0,#bf974d 100%);
    box-sizing: border-box;
    cursor: pointer;
}
.row-nav-l:hover .row-nav-l-menu{
    display: block;
}
.row-nav-l-pipe{
    display: inline-block;
    width: 17px; height: 2px;
    padding: 3.5px 0;
    margin-left: 110px;
    border-top: 2px solid;
    border-bottom: 2px solid;
    background-color: currentColor;
    background-clip: content-box;
}
.row-nav-r{
    display: inline-block;
    line-height: 45px;
    vertical-align: middle;
}
.row-nav a{
    padding: 15px 35px;
    text-align: center;
}
.nav-a-out:hover .nav-a-out-tip{
    display: block;
}
.nav-a-out:hover .row-nav-arrowdown{
    transform: rotate(180deg);
}
.nav-a-out-tip:hover{
    display: block;
}
.nav-a-out-drop{
    margin: -8px 0 0 16px;
}
.nav-a-out-tip{
    position: absolute;
    z-index: 1;
    margin: 2px 0 0 200px;
    color: #222;
    background-color: #fff;
    box-shadow: 2px 2px 12px 0 rgba(0,0,0,.15);
    display: none;
}
.nav-a-out-tip li{
    line-height: 30px;
    padding: 0 40px;
    margin-bottom: 10px;
}
.nav-a-out-tip li:hover{
    color: #b08c4a;
}
.row-nav-arrowdown{
    display: inline-block;
    width: 9px;
    height: 1ex;
    background: url(../image/new-arrow-down_d9805e9.png?__sprite) no-repeat 0/100%;
    transform: rotate(0deg);
    transition: transform .2s;
}
.hot{
    position: absolute;
    margin: 3px 0 0 0 ;
    display: inline-block;
    width: 14px;
    height: 13px;
    background: url(../image/icon-hot_beb2af6.png?__sprite) no-repeat 0/100%;
}

/*侧栏*/
.row-nav-l-menu{
    position: absolute;
    z-index: 2;
    margin: 2px 0 0 -15px;
    width: 233px;
    background-color: #222;
    vertical-align: top;
    cursor: pointer;
    display: none;
}
.row-nav-l-menu:hover{
    display: block;
}
.row-nav-l-menu .li-select{
    background-color: #ebebeb;
}
.row-nav-l-menu dl{
    line-height: 50px;
    padding: 0 15px;
    text-align: right;
}
.row-nav-l-menu dt{
    float: left;
    color: white;
}
.row-nav-l-menu dd{
    display: inline-block;
    font-size: 13px;
}
.row-nav-l-menu dl:hover{
    background-color: #ebebeb;
}
.row-nav-l-menu li:hover dt, .row-nav-l-menu li:hover dd{
    color: #666;
}
.row-nav-l-menu li dt:hover, .row-nav-l-menu li dd:hover{
    color: #b08c4a;
}
.row-nav-l-menu>li:hover div{
    display: block;
}
/*侧栏详情*/
.row-nav .li-detail{
    position: absolute;
    z-index: 1;
    width: 730px;
    height: 400px;
    padding-top: 35px;
    left: 234px; top: 0; right: 0; bottom: 0;
    box-shadow: 2px 2px 12px 0 rgba(0,0,0,.15);
    background-color: #fff;
    cursor: pointer;
    box-sizing: border-box;
    display: none;
}
.row-nav .li-detail h3{
    position: absolute;
    margin: -11px 0 0 -119px;
    font-size: 15px;
    vertical-align: top;
}
.li-detail-ul{
    float: right;
    width: 70%;
    margin: 12px 60px 0 0;
    font-size: 14px;
}
.row-nav .line{
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px dotted #a6a6a6;
}
.li-detail-ul li{
    float: left;
    color: #a6a6a6;
}
.li-detail-ul li:hover{
    color: #b08c4a;
}
.li-travel-div li{
    width: 30%;
    line-height: 22px;
}
.li-movie-div li{
    width: 50%;
    line-height: 22px;
    margin-bottom: 10px;
}
.li-leisure-div li, .li-marry-div li, .li-beauty-div li{
    width: 25%;
    line-height: 22px;
    margin-bottom: 10px;
}
.li-life-div li, .li-food-div li{
    width: 25%;
    line-height: 15px;
    margin-bottom: 10px;
}
/*首页导航*/
.home-nav{
    line-height: 45px;
    font-size: 14px;
    font-weight: 100;
    border-bottom: 1px dotted #a6a6a6;
}
.home-nav span{
    padding: 0 5px;
}
/*智能机器*/
.robot{
    line-height: 129px;
    padding: 20px 0;
    background: url(../image/banner_robot__158cfe5.gif) no-repeat content-box;
}
.robot-btn{
    padding: 7px 15px;
    margin-left: 88%;
    font-size: 14px;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: #fb4982;
}
.robot-btn:hover{
    color: #E3346E;
}
/*常见问题*/
.common-problem{

}
.common-problem-h3{
    padding: 20px 0;
    font-weight: 500;
    border-bottom: 1px solid #dfdfdf;
}
.common-problem-ul{
    position: relative;
    z-index: 1;
    width: 1208px;
    height: 50px;
    font-size: 14px;
    border-left: 1px solid #dfdfdf;
    border-right: 1px solid #dfdfdf;
    background-color: #fafafa;
}
.common-problem-ul>li{
    float: left;
    text-align: center;
}
.common-problem .li-select{
    padding: 13px 19px 14px;
    border-top: 2px solid #ff4683;
    border-right: 1px solid #ECECEC;
    border-left: 1px solid #ECECEC;
    border-bottom: 4px solid #fff;
    background-color: #fff;
}
.common-problem-ul>li>a:hover{
    padding: 13px 19px 14px;
    border-bottom: 4px solid #fff;
    border-top: 2px solid #ff4683;
    border-right: 1px solid #ECECEC;
    border-left: 1px solid #ECECEC;
    background-color: #fff;
}
.common-problem-ul>li>a{
    display: inline-block;
    position: relative;
    z-index: 2;
    padding: 15px 20px;
    color: #b199b1;
}
.common-problem .common-problem-ul .ul-select{
    display: block;;
}
.common-problem .li-detail{
    position: absolute;
    left: -1px; top: 50px;
    width: 1173px;
    height: 120px;
    padding: 20px 0 20px 35px;
    border: 1px solid #dfdfdf;
    display: none;
}
.common-problem .li-detail li{
    float: left;
    width: 33.3%;
    line-height: 30px;
    text-align: start;
    list-style: initial;
}
.common-problem .li-detail a{
    color: rgb(102, 102, 102);
}
.common-problem .li-detail a:hover{
    color: #629ac2;
}
.common-problem-ul li:hover .li-detail{
    display: block;
}
.common-problem-ul .li-detail:hover{
    display: block;
}
    /*联系我们*/
.contact{
    margin-top: 185px;
}
.contact-h3{
    padding: 20px 0;
    font-weight: 500;
    border-bottom: 1px solid #dfdfdf;
}
.contact-h3-span{
    margin-left: 10px;
    font-size: 14px;
    color: #999;
}
.contact-main{
    line-height: 172px;
    margin-bottom: 105px;
    border: 1px solid #ECECEC;
}
.contact-l, .contact-r{
    display: inline-block;
    width: 50%;
    margin-left: -6px;
    font-size: 22px;
    vertical-align: middle;
}
.contact-l-area, .contact-r-area{
    width: 330px;
    height: 100px;
    margin: 0 auto;
    overflow: hidden;
}
.contact-l-area-span, .contact-r-area-span{
    line-height: 40px;
}
.contact-l-area-img, .contact-r-area-img{
    padding: 7px 35px 0 0;
    margin-left: 54px;
}
.contact-l-area-btn{
    padding: 7px 15px;
    font-size: 14px;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: #fb4982;
}
.contact-l-area-btn:hover{
    background-color: #E3346E;
}
.contact .line{
    border-left: 1px solid #ccc;
}
/*底部*/
footer{
    min-width: 1210px;
    background-color: #f2f2f2;
}
.footer-page{
    padding: 50px 0 30px 0;
    overflow: hidden;
}
.footer-page dl{
    float: left;
    width: 19.7%;
}
.footer-page dl:first-child{
    padding-left: 15px;
}
.footer-page dt{
    font-size: 16px;
    color: #222;
    margin-bottom: 26px;
}
.footer-page dd{
    line-height: 33px;
    font-size: 14px;
    color: #666;
}
.footer-page dd:hover{
    color: #b08c4a;
}
dd.Discount{
    width: 120px;
    line-height: 34px;
    color: #BF954D;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
    border: 1px solid #BF954D;
    border-radius: 4px;
    cursor: pointer;
}
.Discount:hover{
    background-color: #f8f4ed;
}
.footer-page-p{
    display: inline-block;
    width: 100%;
    margin: 30px auto 0 auto;
    font-size: 14px;
    text-align: center;
    color: #666;
}
.footer-page img{
    position: absolute;
    margin: 0 0 0 -20px;
}